

.header-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
  
    .nav-items {
      font-family: roboto;
      font-weight: 400;
      color: #222;
      margin: 0.3rem;
      font-size: 13px;
    }
  
    .nav-items:hover {
      text-decoration: underline !important;
    }
  }
  
  .logo {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top:5rem;
  }
  
  .search-group {
    max-width: 584px;
    padding-top: 6px;
    height: 140px;
    margin: auto;
  
    .search-bar {
      display: flex;
      width: 37rem;
      height: 3rem;
      border-radius: 3rem;
      border: 1px solid #dfe1ef;
      font-size: 16px;
      background: #fff;
  
      &:hover {
        box-shadow: 4px 0px 3px grey, -0.4em 0 0.4em grey;
      }
    }
  
    .search-icon {
      margin-top: 8px;
      margin-left: 15px;
      width: 18px;
      height: 18px;
      padding-right: 13px;
    }
    .inputbox {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
  
      #user-input {
        width: 487px;
        height: 39px;
        border: none !important;
        font-size: 16px;
        background-color: transparent;
        margin: 0px;
        outline: none;
      }
    }
  }
  
  
  .searchquery-form {
    margin: auto;
    align-items: center;
    align-content: center;
  }
  
  .search-by-pic {
    
    margin-top: 10px;
    padding-left: 0rem;
    margin-right:1rem;
    margin-left:-2rem;
    flex-direction: row;
  }
      
  .voice-search {
  
    margin-top: 10px;
    padding-left: 0rem;
    flex-direction: row;
  
    }
  
  .button-group {
    margin: 30px;
  
    .buttons {
      background: #f8f9fa;
      border: 1px solid #f8f9fa;
      border-radius: 4px;
      color: #3c4043;
      font-family: arial, sans-serif;
      font-size: 14px;
      margin: 11px 4px;
      padding: 0 16px;
      line-height: 27px;
      height: 36px;
      text-align: center;
      cursor: pointer;
      user-select: none;
    }
  }
  
  .images {
    color:#4285f4;
    font:16px roboto !important;
    position:relative;
    top:4.5rem;
    left:-3.3rem;
    white-space:nowrap;
  }
  
  @media (max-width: 640px) {
    .search-bar {
      width:30rem !important;
      align-items:center;
      margin:auto;
    }
    .search-icon {
     padding-bottom:1rem ;
    }
    .search-by-pic {
      margin-left:-8.5rem;
      padding-bottom:0.5rem;
    }
    .voice-search  {
       padding-bottom:0.5rem;
     }
  
  
  }